*{
    margin: 0px;
    padding: 0px;
    
}
.nav1{
    display: flex;
    justify-content: center;
    list-style-type:none;
    padding: 20px;
    background-color:darkseagreen;
    
}
.nav1 li a{
    text-decoration: none;
    margin: 20px;
    color: black;
}